Hotels.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://venus.sod.asu.edu/WSRepository/xml" targetNamespace="http://venus.sod.asu.edu/WSRepository/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:element name="Hotels" type="HotelsType"/>
    <xsd:complexType name="HotelsType">
        <xsd:sequence>
            <xsd:element name="Hotel" type="HotelDetails" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HotelDetails">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Phone" type="PhoneType" maxOccurs="unbounded"/>
            <xsd:element name="Address" type="AddressDetails"/>
        </xsd:sequence>
        <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="AddressDetails">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:string"/>
            <xsd:element name="Street" type="xsd:string"/>
            <xsd:element name="City" type="xsd:string"/>
            <xsd:element name="State" type="xsd:string"/>
            <xsd:element name="Zip" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- PhoneType from ASU Courses.xsd example -->
    <xsd:simpleType name="PhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>